server {
    listen 80;

    location /uploads {
        alias /home/ubuntu/bbs/user_image;
    }
    location /static {
        alias /home/ubuntu/bbs/static;
    }

    location / {
        proxy_pass http://localhost:2000;
    }
}
