{% extends "/base/base.html" %}
{% block title %} 用户搜索详情页面 {% endblock %}
{% block content %}
    <div class="panel">
        <div class="header">
            <span class="col_fade"> {{content}} - 搜索结果 </span>
        </div>
        <div class="inner no-padding">
            <div id="topic_list">
            {% for user in users %}
                <div class="cell">
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail',username=user.username) }}">
                        <img src="{{ user.image }}" title="{{ user.username }}">
                    </a>
                    <span class="reply_count pull-left">
                        <a class="user_avatar" href="{{ url_for('user.user_detail',username=user.username) }}">
                            <span class="username" title="用户名">
                            {{ user.username }}
                            </span>
                        </a>
                        <br/>
                    </span>
                    <span class="signature" title="个性签名">
                      {{ user.signature }}
                    </span>
                </div>
            {% endfor %}
            </div>
            <div class="pagination" current_page="{{ page }}">
                <ul>
                    <li><a href="{{url_for('search.search_users',content=content, page=1)}}">«</a></li>
                    {% if page|int >3 and pages|int>5 %}
                        <li><a>...</a></li>
                    {% endif %}

                    {% if page==pages and pages>=5 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page-4)}}">{{ page-4 }}</a></li>
                        <li><a href="{{url_for('search.search_users',content=content, page=page-3)}}">{{ page-3 }}</a></li>
                    {% elif page==pages and pages==4 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page-3)}}">{{ page-3 }}</a></li>
                    {% endif %}
                    {% if page==pages-1 and pages>=5 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page-3)}}">{{ page-3 }}</a></li>
                    {% endif %}

                    {% if page>=3 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page-2)}}">{{ page-2 }}</a></li>
                        <li><a href="{{url_for('search.search_users',content=content, page=page-1)}}">{{ page-1 }}</a></li>
                    {% elif page==2 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page-1)}}">{{ page-1 }}</a></li>
                    {% endif %}

                    <li><a class="disabled active" href="{{ url_for('search.search_users',content=content, page=page) }}">{{ page }}</a></li>

                    {% if pages-page>=2 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page+1)}}">{{ page+1 }}</a></li>
                        <li><a href="{{url_for('search.search_users',content=content, page=page+2)}}">{{ page+2 }}</a></li>
                    {% elif pages-page==1 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page+1)}}">{{ page+1 }}</a></li>
                    {% endif %}

                    {% if page==1 and pages>=5 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page+3)}}">{{ page+3 }}</a></li>
                        <li><a href="{{url_for('search.search_users',content=content, page=page+4)}}">{{ page+4 }}</a></li>
                    {% elif page==1 and pages==4 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page+3)}}">{{ page+3 }}</a></li>
                    {% endif %}
                    {% if page==2 and pages>=5 %}
                        <li><a href="{{url_for('search.search_users',content=content, page=page+3)}}">{{ page+3 }}</a></li>
                    {% endif %}

                    {% if (pages-page)>2 and pages>5 %}
                        <li><a>...</a></li>
                    {% endif %}
                    <li><a href="{{url_for('search.search_users',content=content, page=pages)}}">»</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
