{% extends "base/base.html" %}
{% block title %}第1048号房间{% endblock %}
{% block content %}
    <div class="panel">
        <div class="header">
            <a href="{{ url_for('topic.index') }}" class="topic-tab current-tab">
                    全部
            </a>
            {% for b in bs %}
                <a href="{{ url_for('topic.index', board_id=b.id) }}" class="topic-tab current-tab">
                    {{ b.title }}
                </a>
            {% endfor %}
        </div>
        <div class="inner no-padding">
            <div id="topic_list">
                {% for t in ms %}
                    <div class="cell">
                        <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', username=t.user().username) }}">
                                <img src="{{ t.user().image }}" title="{{ t.user().username }}">
                            </a>
                        <span class="reply_count pull-left">
                                <span class="count_of_replies" title="回复数">
                                    {{ t.replies() | count }}
                                </span>
                        <span class="count_seperator">/</span>
                        <span class="count_of_visits" title="点击数">
                                    {{ t.views }}
                                </span>
                        </span>
                        <a class="last_time pull-right" href="{{ url_for('user.user_detail', username=t.reply_last().user().username) }}">
                                <img class="user_small_avatar" src="{{ t.reply_last().user().image }}">
                                <span class="last_active_time">{{ t.reply_last().period_ct() }}</span>
                            </a>
                        <div class="topic_title_wrapper">
                            <span class="put_top">{{ t.board().title }}</span>
                            <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                {{ t.title }}
                            </a>
                        </div>
                        <!-- <a class="topic_title" href="{# url_for('topic.delete', id=t.id, token=token) #}">
                            删除
                        </a> -->
                    </div>
                {% endfor %}
            </div>
            <div class="pagination" current_page="1">
                <ul>
                    <li><a href="{{url_for('topic.index',board_id=bid, page=1)}}">«</a></li>

                    {% if page|int >3 and pages|int>5 %}
                        <li><a>...</a></li>
                    {% endif %}

                    {% if page==pages and pages>=5 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-4)}}">{{ page-4 }}</a></li>
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-3)}}">{{ page-3 }}</a></li>
                    {% elif page==pages and pages==4 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-3)}}">{{ page-3 }}</a></li>
                    {% endif %}
                    {% if page==pages-1 and pages>=5 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-3)}}">{{ page-3 }}</a></li>
                    {% endif %}

                    {% if page>=3 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-2)}}">{{ page-2 }}</a></li>
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-1)}}">{{ page-1 }}</a></li>
                    {% elif page==2 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page-1)}}">{{ page-1 }}</a></li>
                    {% endif %}

                    <li><a class="active" href="{{ url_for('topic.index',board_id=bid, page=page) }}">{{ page }}</a></li>

                    {% if pages-page>=2 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+1)}}">{{ page+1 }}</a></li>
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+2)}}">{{ page+2 }}</a></li>
                    {% elif pages-page==1 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+1)}}">{{ page+1 }}</a></li>
                    {% endif %}

                    {% if page==1 and pages>=5 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+3)}}">{{ page+3 }}</a></li>
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+4)}}">{{ page+4 }}</a></li>
                    {% elif page==1 and pages==4 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+3)}}">{{ page+3 }}</a></li>
                    {% endif %}
                    {% if page==2 and pages>=5 %}
                        <li><a href="{{url_for('topic.index',board_id=bid, page=page+3)}}">{{ page+3 }}</a></li>
                    {% endif %}

                    {% if (pages-page)>2 and pages>5 %}
                        <li><a>...</a></li>
                    {% endif %}

                    <li><a href="{{url_for('topic.index',board_id=bid, page=pages)}}">»</a></li>
                </ul>
            </div>
            <!-- <script>
                $(document).ready(function() {
                    var $nav = $('.pagination');
                    var current_page = $nav.attr('current_page');
                    if (current_page) {
                        $nav.find('li').each(function() {
                            var $li = $(this);
                            var $a = $li.find('a');
                            if ($a.html() == current_page) {
                                $li.addClass('active');
                                $a.removeAttr('href');
                            }
                        });
                    }
                });
            </script> -->
        </div>
    </div>
{% endblock %}
